@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/responsive';

.searchInputForm {
  position: relative;
  max-width: 650px;
  margin: auto;

  .form {
    position: relative;
  }

  .inputBox {
    padding: 9px 24px;
    background-color: colors.$WHITE;
    border-radius: 42px;

    .searchIcon {
      @include position.absolute(50% auto auto -7px);
      font-size: 15px;
      transform: translateY(-50%);
    }

    .searchInput {
      width: 100%;
      margin-left: 20px;
      line-height: 40px;
    }
  }

  @include responsive.after(SD) {
    .searchInputForm {
      min-width: 500px;

      .searchInput {
        min-width: 500px;
      }
    }
  }

  button {
    @include position.absolute(0 0 auto auto);
    padding: 15px 32px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.6;
    color: colors.$WHITE;
    letter-spacing: -0.018em;
    background-color: colors.$SEARCH_INPUT_BUTTON_BACKGROUND;
    border-top-right-radius: 42px;
    border-bottom-right-radius: 42px;
  }
}
