@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.appWrapper {
  @include flexbox.flexbox('between');
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  background-color: colors.$WRAPPER_BACKGROUND;
}

.app {
  width: 100%;
  height: 100%;
}
