@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.footer {
  @include flexbox.flexbox('between', 'center');
  width: 100%;
  height: 50px;
  min-height: 50px;
  padding: 0 100px;
  color: colors.$FOOTER_TEXT;
  background-color: colors.$FOOTER_BACKGROUND;

  @include responsive.mobileOnly {
    flex-direction: column;
    padding: 8px;
    line-height: 10px;

    .footerSubTitle {
      font-size: 12px;
    }
  }

  .footerTitle {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
  }

  .footerSubTitle {
    font-size: 15px;
    text-align: right;
  }
}
