@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox;
  flex-direction: column;
  height: 100%;

  .errorBox {
    width: 100%;
    margin: 2em 0;
    overflow: scroll;
    line-height: 2em;
    text-align: center;

    dt {
      margin: 0.2em 0;
      font-weight: 700;
      color: colors.$GRAY6;
    }

    dd {
      font-size: 1.1em;
      font-weight: 600;
      color: colors.$RED;
    }
  }
}

.reloadButton {
  padding: 10px 20px;
  margin-top: 50px;
  font-size: 1em;
  font-weight: 600;
  color: colors.$GRAY6;
  background-color: colors.$WHITE;
  border-radius: 10px;

  &:hover {
    color: colors.$GRAYD;
    background-color: colors.$GRAY3;
  }

  &:active {
    background-color: colors.$GRAY2;
  }
}
