// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #0c1324;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

$WRAPPER_BACKGROUND: #cae9fe;

// SearchInput
$SEARCH_INPUT_BUTTON_BACKGROUND: #007be9;

// DropDown
$DROP_DOWN_BACKGROUND: $WHITE;
$DROP_DOWN_TITLE: #6a737b;
$DROP_SVG: #494949;

// Footer
$FOOTER_BACKGROUND: #2d3d50;
$FOOTER_TEXT: #dfdfdf;

// Header
$HEADER_BACKGROUND: $WHITE;
