@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.dropDownWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 24px 16px;
  margin-top: 8px;
  background-color: colors.$WHITE;
  border-radius: 20px;

  .dropDownTitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    color: colors.$DROP_DOWN_TITLE;
    letter-spacing: -0.018em;
  }

  ul {
    li {
      position: relative;

      svg {
        color: colors.$DROP_SVG;
      }
      padding: 10px;

      span {
        padding-left: 15px;
      }
    }
  }
}

.serchIcon {
  @include position.absolute(9px 0 0 -12px);
}
