@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.header {
  @include flexbox.flexbox('center', 'center');
  width: 100%;
  padding: 20px 0;
  background-color: colors.$HEADER_BACKGROUND;

  .headerIcon {
    width: auto;
    height: 30px;
  }
}
