@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.header {
  @include flexbox.flexbox('center', 'center');
  width: 100%;
  padding: 20px 0;
  margin-bottom: 30px;
  background-color: colors.$HEADER_BACKGROUND;

  .headerIcon {
    width: auto;
    height: 30px;
  }
}
